<!-- <p>
  body works!
</p> -->
<div id="column1" class="col-sm-2">
  <div>
    <img id="logoimg" src="./assets/logo.jpg">
  
  </div>
  <div class="container">
    <ul id="homelist" class="nav nav-pills nav-stacked">
      <li><button target="_blank" type="button" class="btn btn-lg" href="" title="daily matters">Daily Matters</button></li>
      <li><button target="_blank" type="button" class="btn btn-lg" href="" title="cases">Cases</button></li>
      <li><button target="_blank" type="button" class="btn btn-lg" href="" title="client information">Client information</button></li>
      <li><button target="_blank" type="button" class="btn btn-lg" href="" title="documents">Documents</button></li>
      <li><button target="_blank" type="button" class="btn btn-lg" href="" title="report">Report</button></li>
      <li><button target="_blank" type="button" class="btn btn-lg" href="" title="setting">Setting</button></li>
      <li><button target="_blank" type="button" class="btn btn-lg" href="" title="help">Help</button></li>
    </ul>
  </div>
</div>

<div id="column2" class="col-sm-8">
   <router-outlet></router-outlet>
</div>