
/*Css for button bar addm, remove, filter, print
*/

div#dmfunctionbuttons{
   margin-top: 16px;
    margin-left: 900px;
    height: 34px;
}
.inputcss{
    float: left; 
    margin-left: 15px;
    padding: 6px 6px;
    box-sizing: border-box;
    border: 1px solid #255dba;
    border-radius: 5px;
}

button:hover{
    background-color: #133a7a;
}


