<div class="row">  
    <app-header></app-header>
    </div>
    <div id="body" class="row"> 
  <div id="column1" class="col-sm-2">
    <div>
        <img id="logoimg" style="cursor: pointer" title="Home Page" src="./assets/logo.jpg" (click)="toHome()">
        <!-- <button target="_blank" type="button" class="btn btn-sm" href="" title="open menu">Open menu</button> -->
      </div>
      <div class="container">
        <ul id="homelist" class="nav nav-pills nav-stacked">
          <li><button target="_blank" type="button" class="btn btn-primary btn-lg" (click)="openDailyMatters()" title="daily matters">Daily Matters</button></li>
          <li><button target="_blank" type="button" class="btn btn-primary btn-lg" (click)="openCases()"title="cases">Cases</button></li>
          <li><button target="_blank" type="button" class="btn btn-primary btn-lg selectedButton" (click)="openClientInfo()" title="client information">Client information</button></li>
          <li><button target="_blank" type="button" class="btn btn-primary btn-lg" (click)="openDocument()" title="documents">Documents</button></li>
          <li><button target="_blank" type="button" class="btn btn-primary btn-lg " (click)="openReport()" title="report">Report</button></li>
          <li><button target="_blank" type="button" class="btn btn-primary btn-lg" (click)="openSetting()" title="setting">Setting</button></li>
          <li><button target="_blank" type="button" class="btn btn-primary btn-lg" (click)="openHelp()" title="help">Help</button></li>  </ul>
      </div>
    </div>
  
  <div id="column2" class="col-sm-8">
<div>
    <input class="inputcss" placeholder="Search" autocomplete="off" spellcheck="false" autocorrect="off" tabindex="1">
    <div id="dmfunctionbuttons" class="btn-toolbar">
  <button target="_blank" type="button" class="btn btn-primary fa fa-filter" data-toggle= "tooltip" title="Add Filter" style="color:white"></button>
  <button target="_blank" type="button" class="btn btn-primary fa fa-plus" data-toggle="tooltip" title="Add" style="color:white"></button>
  <button target="_blank" type="button" class="btn btn-primary fa fa-trash" data-toggle="tooltip" title="Remove" style="color:white"></button>
  <button target="_blank" type="button" class="btn btn-primary fa fa-print" data-toggle="tooltip" title="Print" style="color:white"></button>
</div>
</div>
<div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Client Information</h4>
                        <p class="category">Here is a subtitle for this table</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-danger">
                                <tr>
                                    <th>Client name</th>
                                    <th>Contact number</th>
                                    <th>Case number</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- <tr>
                                    <td>abd</td>
                                    <td>hh</td>
                                    <td>gd</td>
                                </tr> -->
                                   <tr *ngFor="let clientInformation of clientinformation; let i = index" (click)="setClickedRow(i)" [class.active]="i == selectedRow">
                                    <td>{{clientInformation.clientName}}</td>
                                    <td>{{clientInformation.contactNumber}}</td>
                                    <td>{{clientInformation.caseNumber}}</td>
                                </tr> 

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        <div>
          <app-footer></app-footer>
        </div>