<div>
    <input class="inputcss" placeholder="Search" autocomplete="off" spellcheck="false" autocorrect="off" tabindex="1">
    <input class="filter" placeholder="Filter" tabindex="1">
    <div id="dmfunctionbuttons" class="btn-toolbar">
  <button target="_blank" type="button" class="btn btn-primary fa fa-filter" data-toggle= "tooltip" title="Add Filter" style="color:white"></button>
  <button target="_blank" type="button" class="btn btn-primary fa fa-plus" data-toggle="tooltip" title="Add" style="color:white"></button>
  <button target="_blank" type="button" class="btn btn-primary fa fa-trash" data-toggle="tooltip" title="Remove" style="color:white"></button>
  <button target="_blank" type="button" class="btn btn-primary fa fa-print" data-toggle="tooltip" title="Print" style="color:white"></button>
</div>
</div>
<div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Simple Table</h4>
                        <p class="category">Here is a subtitle for this table</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-danger">
                                <tr>
                                    <th>Client name</th>
                                    <th>Contact number</th>
                                    <th>Case number</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>abctry ajwakdhsd</td>
                                    <td>987456321</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                     <td>abctry ajwakdhsd</td>
                                    <td>987456321</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>abctry ajwakdhsd</td>
                                    <td>987456321</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                     <td>abctry ajwakdhsd</td>
                                    <td>987456321</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                   <td>abctry ajwakdhsd</td>
                                    <td>987456321</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                   <td>abctry ajwakdhsd</td>
                                    <td>987456321</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>abctry ajwakdhsd</td>
                                    <td>987456321</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>abctry ajwakdhsd</td>
                                    <td>987456321</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>abctry ajwakdhsd</td>
                                    <td>987456321</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>abctry ajwakdhsd</td>
                                    <td>987456321</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                     <td>abctry ajwakdhsd</td>
                                    <td>987456321</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>abctry ajwakdhsd</td>
                                    <td>987456321</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                     <td>abctry ajwakdhsd</td>
                                    <td>987456321</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>abctry ajwakdhsd</td>
                                    <td>987456321</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                     <td>abctry ajwakdhsd</td>
                                    <td>987456321</td>
                                    <td>3</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
           