
div#report{
    display: block;           
    margin-left: 350px;   
    margin-top: 7px;
    text-align: left; 
    color: black;
    font-family: "Arial", Times, serif;  
}

ul#reportbuttons{
    width: 500px;
    margin-top: 60px;
    margin-left: 20px;
}
button#reportbtn1{
    width: 350px;
    height: 100px;
    border: 2px outset gray; 
}
button#reportbtn2{
    width: 350px;
    height: 100px;
    margin-top: 30px;
    border: 2px outset gray; 
}
button#reportbtn3{
    width: 350px;
    height: 100px;
    margin-top: 30px;
    border: 2px outset gray; 
}

#reportbtn1:hover{
    background-color: #b5c0d1;
}
#reportbtn2:hover{
    background-color: #b5c0d1;
}

#reportbtn3:hover{
    background-color: #b5c0d1;
}

#menubtn1:hover{
  background-color: #133a7a;  
}
#menubtn2:hover{
  background-color: #133a7a;  
}
#menubtn3:hover{
  background-color: #133a7a;  
}
#menubtn4:hover{
  background-color: #133a7a;  
}
#menubtn5:hover{
  background-color: #133a7a;  
}
#menubtn6:hover{
  background-color: #133a7a;  
}
#menubtn7:hover{
  background-color: #133a7a;  
}