<div>
    <input class="inputcss" placeholder="Search" autocomplete="off" spellcheck="false" autocorrect="off" tabindex="1">
  <div id="dmfunctionbuttons" class="btn-toolbar">
  <button target="_blank" type="button" class="btn btn-primary fa fa-filter" data-toggle= "tooltip" title="Add Filter" style="color:white"></button>
  <button target="_blank" type="button" class="btn btn-primary fa fa-plus" data-toggle="tooltip" title="Add" style="color:white"></button>
  <button target="_blank" type="button" class="btn btn-primary fa fa-trash" data-toggle="tooltip" title="Remove" style="color:white"></button>
  <button target="_blank" type="button" class="btn btn-primary fa fa-print" data-toggle="tooltip" title="Print" style="color:white"></button>
</div>
</div>
<div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Simple Table</h4>
                        <p class="category">Here is a subtitle for this table</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-danger">
                                <tr>
                                    <th>Name</th>
                                    <th>Country</th>
                                    <th>City</th>
                                    <th>Salary</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Dakota Rice</td>
                                    <td>Niger</td>
                                    <td>Oud-Turnhout</td>
                                    <td class="text-danger">$36,738</td>
                                </tr>
                                <tr>
                                    <td>Minerva Hooper</td>
                                    <td>Curaçao</td>
                                    <td>Sinaai-Waas</td>
                                    <td class="text-danger">$23,789</td>
                                </tr>
                                <tr>
                                    <td>Sage Rodriguez</td>
                                    <td>Netherlands</td>
                                    <td>Baileux</td>
                                    <td class="text-danger">$56,142</td>
                                </tr>
                                <tr>
                                    <td>Philip Chaney</td>
                                    <td>Korea, South</td>
                                    <td>Overland Park</td>
                                    <td class="text-danger">$38,735</td>
                                </tr>
                                <tr>
                                    <td>Doris Greene</td>
                                    <td>Malawi</td>
                                    <td>Feldkirchen in Kärnten</td>
                                    <td class="text-danger">$63,542</td>
                                </tr>
                                <tr>
                                    <td>Mason Porter</td>
                                    <td>Chile</td>
                                    <td>Gloucester</td>
                                    <td class="text-danger">$78,615</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
           