<div>
    <input class="inputcss" placeholder="Search" autocomplete="off" spellcheck="false" autocorrect="off" tabindex="1">
    <input class="filter" placeholder="Filter" tabindex="1">
    <div id="dmfunctionbuttons" class="btn-toolbar">
  <button target="_blank" type="button" class="btn btn-primary fa fa-filter" data-toggle= "tooltip" title="Add Filter" style="color:white"></button>
  <button target="_blank" type="button" class="btn btn-primary fa fa-plus" data-toggle="tooltip" title="Add" style="color:white"></button>
  <button target="_blank" type="button" class="btn btn-primary fa fa-trash" data-toggle="tooltip" title="Remove" style="color:white"></button>
  <button target="_blank" type="button" class="btn btn-primary fa fa-print" data-toggle="tooltip" title="Print" style="color:white"></button>
</div>
</div>
<div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Simple Table</h4>
                        <p class="category">Here is a subtitle for this table</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-danger">
                                <tr>
                                    <th>Court</th>
                                    <th>Case no.</th>
                                    <th>Client name</th>
                                    <th>Opposite party</th>
                                    <th>Previous date</th>
                                    <th>Stage</th>
                                    <th>Next Date</th>
                                    <th>Next stage</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Karjat</td>
                                    <td>1</td>
                                    <td>abctry ajwakdhsd</td>
                                    <!-- <td class="text-danger">$36,738</td> -->
                                    <td>truhssj shashjhcsj</td>
                                    <td>23/4/18</td>
                                    <td>level 1</td>
                                    <td class="text-danger">28/4/18</td>
                                    <td>level 2</td>
                                </tr>
                                <tr>
                                    <td>Karjat</td>
                                    <td>1</td>
                                    <td>abctry ajwakdhsd</td>
                                    <!-- <td class="text-danger">$36,738</td> -->
                                    <td>truhssj shashjhcsj</td>
                                    <td>23/4/18</td>
                                    <td>level 1</td>
                                    <td class="text-danger">28/4/18</td>
                                    <td>level 2</td>
                                </tr>
                                <tr>
                                   <td>Karjat</td>
                                    <td>1</td>
                                    <td>abctry ajwakdhsd</td>
                                    <!-- <td class="text-danger">$36,738</td> -->
                                    <td>truhssj shashjhcsj</td>
                                    <td>23/4/18</td>
                                    <td>level 1</td>
                                    <td class="text-danger">28/4/18</td>
                                    <td>level 2</td>
                                </tr>
                                <tr>
                                    <td>Karjat</td>
                                    <td>1</td>
                                    <td>abctry ajwakdhsd</td>
                                    <!-- <td class="text-danger">$36,738</td> -->
                                    <td>truhssj shashjhcsj</td>
                                    <td>23/4/18</td>
                                    <td>level 1</td>
                                    <td class="text-danger">28/4/18</td>
                                    <td>level 2</td>
                                </tr>
                                <tr>
                                   <td>Karjat</td>
                                    <td>1</td>
                                    <td>abctry ajwakdhsd</td>
                                    <!-- <td class="text-danger">$36,738</td> -->
                                    <td>truhssj shashjhcsj</td>
                                    <td>23/4/18</td>
                                    <td>level 1</td>
                                    <td class="text-danger">28/4/18</td>
                                    <td>level 2</td>
                                </tr>
                                <tr>
                                    <td>Karjat</td>
                                    <td>1</td>
                                    <td>abctry ajwakdhsd</td>
                                    <!-- <td class="text-danger">$36,738</td> -->
                                    <td>truhssj shashjhcsj</td>
                                    <td>23/4/18</td>
                                    <td>level 1</td>
                                    <td class="text-danger">28/4/18</td>
                                    <td>level 2</td>
                                </tr>
                                <tr>
                                    <td>Karjat</td>
                                    <td>1</td>
                                    <td>abctry ajwakdhsd</td>
                                    <!-- <td class="text-danger">$36,738</td> -->
                                    <td>truhssj shashjhcsj</td>
                                    <td>23/4/18</td>
                                    <td>level 1</td>
                                    <td class="text-danger">28/4/18</td>
                                    <td>level 2</td>
                                </tr>
                                <tr>
                                    <td>Karjat</td>
                                    <td>1</td>
                                    <td>abctry ajwakdhsd</td>
                                    <!-- <td class="text-danger">$36,738</td> -->
                                    <td>truhssj shashjhcsj</td>
                                    <td>23/4/18</td>
                                    <td>level 1</td>
                                    <td class="text-danger">28/4/18</td>
                                    <td>level 2</td>
                                </tr>
                                <tr>
                                    <td>Karjat</td>
                                    <td>1</td>
                                    <td>abctry ajwakdhsd</td>
                                    <!-- <td class="text-danger">$36,738</td> -->
                                    <td>truhssj shashjhcsj</td>
                                    <td>23/4/18</td>
                                    <td>level 1</td>
                                    <td class="text-danger">28/4/18</td>
                                    <td>level 2</td>
                                </tr>
                                <tr>
                                    <td>Karjat</td>
                                    <td>1</td>
                                    <td>abctry ajwakdhsd</td>
                                    <!-- <td class="text-danger">$36,738</td> -->
                                    <td>truhssj shashjhcsj</td>
                                    <td>23/4/18</td>
                                    <td>level 1</td>
                                    <td class="text-danger">28/4/18</td>
                                    <td>level 2</td>
                                </tr>
                                <tr>
                                    <td>Karjat</td>
                                    <td>1</td>
                                    <td>abctry ajwakdhsd</td>
                                    <!-- <td class="text-danger">$36,738</td> -->
                                    <td>truhssj shashjhcsj</td>
                                    <td>23/4/18</td>
                                    <td>level 1</td>
                                    <td class="text-danger">28/4/18</td>
                                    <td>level 2</td>
                                </tr>
                                <tr>
                                    <td>Karjat</td>
                                    <td>1</td>
                                    <td>abctry ajwakdhsd</td>
                                    <!-- <td class="text-danger">$36,738</td> -->
                                    <td>truhssj shashjhcsj</td>
                                    <td>23/4/18</td>
                                    <td>level 1</td>
                                    <td class="text-danger">28/4/18</td>
                                    <td>level 2</td>
                                </tr>
                                <tr>
                                    <td>Karjat</td>
                                    <td>1</td>
                                    <td>abctry ajwakdhsd</td>
                                    <!-- <td class="text-danger">$36,738</td> -->
                                    <td>truhssj shashjhcsj</td>
                                    <td>23/4/18</td>
                                    <td>level 1</td>
                                    <td class="text-danger">28/4/18</td>
                                    <td>level 2</td>
                                </tr>
                                <tr>
                                    <td>Karjat</td>
                                    <td>1</td>
                                    <td>abctry ajwakdhsd</td>
                                    <!-- <td class="text-danger">$36,738</td> -->
                                    <td>truhssj shashjhcsj</td>
                                    <td>23/4/18</td>
                                    <td>level 1</td>
                                    <td class="text-danger">28/4/18</td>
                                    <td>level 2</td>
                                </tr>
                                <tr>
                                    <td>Karjat</td>
                                    <td>1</td>
                                    <td>abctry ajwakdhsd</td>
                                    <!-- <td class="text-danger">$36,738</td> -->
                                    <td>truhssj shashjhcsj</td>
                                    <td>23/4/18</td>
                                    <td>level 1</td>
                                    <td class="text-danger">28/4/18</td>
                                    <td>level 2</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
           